.home {
    padding: 20px;
    color: black;
    text-shadow: 1px 1px 3px gray;
}

Link a {
    text-decoration: none;
}

.startLink {
    text-decoration: underline;
    color: black;

}

.logoImg {
    height: 200px;
    margin-top: 10%;
}