.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.search-form {
  min-height:10vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left:20%;
}

.sidebar {
  width: 20%;
  position: fixed;
  background: rgba(0,0,0, 0.7);
  height: 100vh;
  left:0;
  color:white;
}

.ingredientlist {
  margin:5%;
  height: 100%;
}

.removebutton {
  background: red;
  border: none;
}